body {
  background-color: #333;
  font-family: "open sans", sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  position: fixed;
  width: 420px;
	background: black;
}

.restaurant-list {
  padding-top: 50px;
	background: #00bcd4;
	width: 100%;
}

.arrow-left {
	padding: 15px;
}

.arrow {
	display: inline-block;
	float: right;
	margin-top: 10px;
}

.content > h1 {
  font-size: 1.3rem;
  font-weight: 900;
}

.content > h3 {
	font-size: 1rem;
}

.content {
	display: inline-block;
}

.location {
	border-bottom: solid 1px;
	padding: 20px;
}

.location:hover {
  background: #00ffbc;
  cursor: pointer;
  box-shadow: 3px 9px 5px 1px rgba(0,0,0,0.5);
  transition: .5s;
}
